@model WebProject.Models.TacGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Author Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTacGia)
        </dd>

        <dt>
            Address :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Phone :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTacGia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
