@model IEnumerable<WebProject.Models.TheLoai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

<h2>List of categories</h2>

<p>
    @Html.ActionLink("Add New Category", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Category Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TheLoai1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTheLoai }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTheLoai }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTheLoai })
        </td>
    </tr>
}

</table>
