
@{
    ViewBag.Title = "BookLayout";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/api")
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/HomePage.css">

</head>
<body>
    <div id="HomePage">
        <div id="menu">

            <ul>
                <li><a href="/User/Logout">logout</a></li>
                <li><a href="/Book/Cart">Your Cart</a></li>
                <li><a href="/ChiTietDons/Index">Your buy history</a></li>
                <li><a href="/User/EditProfile">Your profile</a></li>
            </ul>
        </div> <!-- end of menu -->
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

